<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjxgwzd.teachersystemmanagement.mapper.ClassroomMapper">
    <select id="getCampusVO">
        SELECT campus.id AS campusId,
               campus.name AS campusName,
               GROUP_CONCAT(classroom.building_name SEPARATOR ',') AS buildings
        FROM campus
        JOIN classroom ON classroom.campus_id = campus.id
        GROUP BY campus.id,
                 campus.name
    </select>
    <select id="getClassroomVO">
        SELECT id AS classroomId,
               room_number AS classroomName
        FROM classroom
        WHERE campus_id = #{campusId} AND building_name =#{building}
    </select>
    <insert id="reserveClassroom">
        INSERT INTO classroom_reservation(teacher_id, result,   classroom_id, year, term_part, week, day_of_week, class_period_from, class_period_to, reason, reason_detail,canceled)
        VALUES (#{teacherId}, 1,   #{classroomId}, #{year}, #{termPart}, #{week}, #{dayOfWeek}, #{periodFrom}, #{periodTo}, #{reason}, #{reasonDetail}, 0)
    </insert>
    <select id="getRecords">
        SELECT cr.id AS recordId,
               cr.year,
               cr.term_part AS termPart,
               cr.week,
               cr.day_of_week AS dayOfWeek,
               cr.class_period_from AS periodFrom,
               cr.class_period_to AS periodTo,
               cl.id AS "classroomInfo.classroomId",
               cp.name AS "classroomInfo.campusName",
               cl.building_name AS "classroomInfo.building",
               cl.room_number AS "classroomInfo.classroomName",
               cr.result,
               cr.act_name AS actName,
               cr.reason,
               cr.reason_detail AS reasonDetail
            FROM classroom_reservation cr
            JOIN classroom cl ON cl.id = cr.classroom_id
            JOIN campus cp ON cp.id = cl.campus_id
            WHERE cr.teacher_id = #{teacherId}
            ORDER BY cr.week, cr.day_of_week
            LIMIT #{offset}, #{num}
    </select>

    <select id="getSum">
        SELECT COUNT(*)
         FROM classroom_reservation cr
        JOIN classroom cl ON cl.id = cr.classroom_id
        JOIN campus cp ON cp.id = cl.campus_id
        WHERE cr.teacher_id = #{teacherId}
    </select>
</mapper>