<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjxgwzd.teachersystemmanagement.mapper.TeacherMapper">
       <select id="getTeacherDetailInfoByTeacherId">
           SELECT t.id AS teacherId,
                  t.name AS teacherName,
                  t.phone,
                  t.hire_date AS hireDate,
                  t.type,
                  t.gender,
                  t.school_id AS schoolId,
                  sc.name AS schoolName,
                  t.major_id AS majorId,
                  mj.name AS majorName,
                  t.title,
                  t.bachelor,
                  t.email,
                  t.desc AS description,
                  t.research_focus AS researchFocus,
                  f.url AS picUrl,
                  t.address,
                  af.id AS aaoOfficeId,
                  af.name AS aaoOfficeName,
                  t.identity
           FROM teacher t
           JOIN school sc ON sc.id = t.school_id
           JOIN major mj ON mj.id = t.major_id
           JOIN file f ON f.id = t.teacher_pic
           JOIN aao_office af ON af.major_id = mj.id
           WHERE t.id = #{teacherId}
       </select>

       <select id="getEduExpByTeacherId">
              SELECT ee.from_date AS fromDate,
                     ee.to_date AS toDate,
                     ee.uni_name AS uniName,
                     ee.major_name AS majorName,
                     ee.bachelor
              FROM edu_experience ee
              WHERE ee.teacher_id = #{teacherId}
       </select>
       <select id="getTeacherResearchFindingsByTeacherId">
              SELECT rf.index,
                     rf.content
              FROM reseach_findings rf
              WHERE rf.teacher_id = #{teacherId} AND rf.type = #{type}
              ORDER BY rf.index DESC
              LIMIT #{offset}, #{num}
       </select>
       <select id="getTeacherResearchFindingsCountByTeacherId" resultType="int">
           SELECT COUNT(*) AS totalFindings
           FROM reseach_findings
           WHERE teacher_id = #{teacherId} AND type = #{type}
       </select>

       <select id="getCourseTaskByTeacherId">
            SELECT cis.id AS courseInstSectionId,
                   ci.id AS courseInstId,
                   c.name AS courseName,
                   GROUP_CONCAT(ter.name SEPARATOR ',') AS courseTeacherName,
                   cr.room_number AS classroomName,
                   cs.day_of_week AS dayOfWeek,
                   cs.period_from AS periodFrom,
                   cs.period_to AS periodTo
            FROM course_inst_section cis
            JOIN course_inst ci ON ci.id = cis.course_inst_id
            JOIN course c ON c.id = ci.course_id
            JOIN teach t ON t.course_id = c.id
            JOIN teacher ter ON t.teacher_id = ter.id
            JOIN course_sched cs ON cs.course_section_id = cis.id
            JOIN classroom cr ON cs.classroom_id = cr.id
            WHERE cs.week = #{week} AND cs.term_part = #{termPart} AND cs.year = #{year} AND ter.id = #{teacherId}
            GROUP BY
                cis.id,
                ci.id,
                c.name,
                cr.room_number,
                cs.day_of_week,
                cs.period_from,
                cs.period_to
       </select>

       <select id="getAllSemester">
               SELECT *
               FROM semester
               ORDER BY to_date DESC
       </select>
    <select id="getSum">
        SELECT COUNT(*)
        FROM teacher t
        JOIN school sc ON sc.id = t.school_id
       JOIN major mj ON mj.id = t.major_id
       JOIN file f ON f.id = t.teacher_pic
       JOIN aao_office af ON af.major_id = mj.id
        WHERE (#{schoolId} IS NULL OR sc.id = #{schoolId})
          AND (#{majorId} IS NULL OR t.major_id = #{majorId})
          AND (#{title} IS NULL OR t.title = #{title})
          AND (#{gender} IS NULL OR t.gender = #{gender})
          AND (#{name} IS NULL OR t.name = #{name})
    </select>
<!--    <select id="getTotalTeacherDetailInfo">-->
<!--            SELECT t.id AS teacherId,-->
<!--                  t.name AS teacherName,-->
<!--                  t.phone,-->
<!--                  t.hire_date AS hireDate,-->
<!--                  t.type,-->
<!--                  t.gender,-->
<!--                  t.school_id AS schoolId,-->
<!--                  sc.name AS schoolName,-->
<!--                  t.major_id AS majorId,-->
<!--                  mj.name AS majorName,-->
<!--                  t.title,-->
<!--                  t.bachelor,-->
<!--                  t.email,-->
<!--                  t.desc AS description,-->
<!--                  t.research_focus AS researchFocus,-->
<!--                  f.url AS picUrl,-->
<!--                  t.address,-->
<!--                  af.id AS aaoOfficeId,-->
<!--                  af.name AS aaoOfficeName,-->
<!--                  t.identity-->
<!--           FROM teacher t-->
<!--           JOIN school sc ON sc.id = t.school_id-->
<!--           JOIN major mj ON mj.id = t.major_id-->
<!--           JOIN file f ON f.id = t.teacher_pic-->
<!--           JOIN aao_office af ON af.major_id = mj.id-->
<!--&#45;&#45;             WHERE (#{schoolId} IS NULL OR sc.id = #{schoolId})-->
<!--&#45;&#45;               AND (#{majorId} IS NULL OR t.major_id = #{majorId})-->
<!--&#45;&#45;               AND (#{title} IS NULL OR t.title = #{title})-->
<!--&#45;&#45;               AND (#{gender} IS NULL OR t.gender = #{gender})-->
<!--&#45;&#45;               AND (#{name} IS NULL OR t.name = #{name})-->
<!--            WHERE 1=1-->
<!--              <if test="schoolId != null">-->
<!--                    AND sc.id = #{schoolId}-->
<!--              </if>-->
<!--              <if test="majorId != null">-->
<!--                  AND t.major_id = #{majorId}-->
<!--              </if>-->
<!--              <if test="title != null">-->
<!--                  AND t.title = #{title}-->
<!--              </if>-->
<!--              <if test="gender != null">-->
<!--                  AND t.gender = #{gender}-->
<!--              </if>-->
<!--              <if test="name != null">-->
<!--                  AND t.name = #{name}-->
<!--              </if>-->
<!--            ORDER BY t.id-->
<!--            LIMIT #{offset}, #{num}-->
<!--    </select>-->

        <select id="getTotalTeacherDetailInfo">
            SELECT t.id AS teacherId,
                   t.name AS teacherName,
                   t.phone,
                   t.hire_date AS hireDate,
                   t.type,
                   t.gender,
                   t.school_id AS schoolId,
                   sc.name AS schoolName,
                   t.major_id AS majorId,
                   mj.name AS majorName,
                   t.title,
                   t.bachelor,
                   t.email,
                   t.desc AS description,
                   t.research_focus AS researchFocus,
                   f.url AS picUrl,
                   t.address,
                   af.id AS aaoOfficeId,
                   af.name AS aaoOfficeName,
                   t.identity
            FROM teacher t
            JOIN school sc ON sc.id = t.school_id
            JOIN major mj ON mj.id = t.major_id
            JOIN file f ON f.id = t.teacher_pic
            JOIN aao_office af ON af.major_id = mj.id
            WHERE 1=1
              <if test="schoolId != null">
                  AND sc.id = #{schoolId}
              </if>
              <if test="majorId != null">
                  AND t.major_id = #{majorId}
              </if>
              <if test="title != null">
                  AND t.title = #{title}
              </if>
              <if test="gender != null">
                  AND t.gender = #{gender}
              </if>
              <if test="name != null">
                  AND t.name = #{name}
              </if>
            ORDER BY t.id
            LIMIT #{offset}, #{num}
        </select>
<!--    <select id="getTotalTeacherDetailInfo">-->
<!--        SELECT t.id AS teacherId,-->
<!--              t.name AS teacherName,-->
<!--              t.phone,-->
<!--              t.hire_date AS hireDate,-->
<!--              t.type,-->
<!--              t.gender,-->
<!--              t.school_id AS schoolId,-->
<!--              sc.name AS schoolName,-->
<!--              t.major_id AS majorId,-->
<!--              mj.name AS majorName,-->
<!--              t.title,-->
<!--              t.bachelor,-->
<!--              t.email,-->
<!--              t.desc AS description,-->
<!--              t.research_focus AS researchFocus,-->
<!--              f.url AS picUrl,-->
<!--              t.address,-->
<!--              af.id AS aaoOfficeId,-->
<!--              af.name AS aaoOfficeName,-->
<!--              t.identity-->
<!--       FROM teacher t-->
<!--       JOIN school sc ON sc.id = t.school_id-->
<!--       JOIN major mj ON mj.id = t.major_id-->
<!--       JOIN file f ON f.id = t.teacher_pic-->
<!--       JOIN aao_office af ON af.major_id = mj.id-->
<!--        WHERE (#{schoolId} IS NULL OR sc.id = #{schoolId})-->
<!--          AND (#{majorId} IS NULL OR t.major_id = #{majorId})-->
<!--          AND (#{title} IS NULL OR t.title = #{title})-->
<!--          AND (#{gender} IS NULL OR t.gender = #{gender})-->


    <insert id="insertScores">
        INSERT INTO course_selection(stu_id,course_sec_id,score,status)
        VALUES (#{studentId},#{courseInstId},#{score},#{status})
    </insert>
    <select id="getCourseSecId">
        SELECT DISTINCT id
        FROM course_inst_section
        WHERE course_inst_id =#{courseInstId}
    </select>
    <select id="getAllTeacher">
        SELECT *
        FROM teacher
        ORDER BY id
        LIMIT #{offset}, #{num}
    </select>
    <select id="getTeacherCount">
        SELECT COUNT(*)
        FROM teacher
    </select>
</mapper>